.searchBarContainer {
  display: flex;
}

.searchBar {
  margin-left: 5px;
  border: none;
  border-bottom: 1px solid $font-color;
  width: 50%;
  font-size: 2rem;
  &:focus {
    outline: none;
  }
}

// .searchBarIcon {
//   width: 2.5rem;
//   height: 2.5rem;
//   background-image: url("../../assets/searchLight.png");
//   background-repeat: no-repeat;
//   background-size: cover;
//   margin: 0 1rem;
//   display: inline-block;
// }
