.caseStudies {
  h2:first-child {
    font-size: 40px;
  }

  h1,
  h2 {
    font-size: 28px;
    padding: 0;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 22px;
    padding-left: 2px;
  }
  p {
    padding-left: 3px;
    line-height: 3rem;
  }
  p,
  a {
    font-size: 14px;
  }

  img {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
