// 1 rem = 10px

* {
  box-sizing: border-box;
}

html {
  font-style: $font-stack;
  font-size: 62.5%;
}

html,
body {
  font-family: $font-stack;
  color: $font-color;
  background-color: $background-color;
  scroll-behavior: smooth;
  @include breakpoint(tablet) {
    width: 100%;
    margin: 0;
  }
}

h1 {
  font-size: 4.6rem;
}
h2 {
  font-size: 4rem;
  padding-bottom: 4rem;
}
h3 {
  font-size: 3.4rem;
}
h4 {
  font-size: 2.8rem;
}
a,
p {
  font-size: 2rem;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
a {
  text-decoration: none;
}
p {
  line-height: 3rem;
}
.section-seperator {
  padding-top: 4rem;
  h3 {
    text-align: center;
  }
}

.hover-border {
  @include borderAnimation($font-color);
}

.center {
  display: flex;
  justify-content: center;
}

.remove-attr {
  margin: 0;
  padding: 0;
}
