.recent-work {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1rem;
  display: grid;
}

.work-project {
  width: 100%;
  h4 {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  img {
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
  a {
    margin-left: 2rem;
  }
}
