.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(#ffffff, 0.5);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
  top: 0;

  ul {
    display: flex;

    align-items: flex-end;
  }
  img {
    width: 100px;
    margin-right: 2rem;
    margin-left: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
  a {
    margin-right: 2rem;
  }
  .themeToggle {
    width: 30px;
  }
}

.nav-title {
  margin-left: 15px;
}
