.navbar {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  top: 0;

  ul {
    display: flex;
  }

  li {
    a {
      margin-right: 1.8rem;
      font-size: 1.8rem;
    }
  }
}
